<body>
    <section id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><i class="fa fa-home"></i> My Home</a>
                </div>
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="tag_menu active_tab" routerlink="Home">Home</a>
                        </li>
                        <li class="dropdown">
                          <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Property<span class="caret"></span></a>
                          <ul class="dropdown-menu drop_1" role="menu">
                            <li><a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">Property List</a></li>
                            <li><a routerLink="/detail" routerLinkActive="active" ariaCurrentWhenActive="page">Property Detail</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
                          <ul class="dropdown-menu drop_1" role="menu">
                            <li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page" >Blog</a></li>
                            <li><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Blog Detail</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
                          <ul class="dropdown-menu drop_1" role="menu">
                            <li><a routerLink="/agent" routerLinkActive="active" ariaCurrentWhenActive="page">Agent</a></li>
                            <li><a routerLink="/agency" routerLinkActive="active" ariaCurrentWhenActive="page">Agency Page</a></li>
                            <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
                            <li><a routerLink="/property" routerLinkActive="active" ariaCurrentWhenActive="page">Submit Property</a></li>
                          </ul>
                        </li>
                        <li>
                            <a class="tag_menu" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="tag_menu" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Log In / Sign Up</a>
                        </li>
                        <li>
                            <a class="tag_menu button_1 mgt" routerLink="/property" routerLinkActive="active" ariaCurrentWhenActive="page">Submit Property</a>
                        </li>
                    </ul>
                     
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </section>
    
    <section id="center" class="clearfix center_about">
     <div class="container clearfix">
      <div class="row">
       <div class="center_about_1 text-center clearfix">
        <div class="col-sm-12">
         <h1 class="mgt">Blog Detail</h1>
         <p>See Our Latest Articles & News</p>
        </div>
       </div>
      </div>
     </div>
    </section>
    
    <section id="blog_h">
     <div class="container">
      <div class="row">
       <div class="blog_detail clearfix">
        <div class="col-sm-8">
         <div class="blog_detail_l clearfix">
          <img src="img/43.jpg" alt="abc" class="iw">
          <h6><a href="#"><i class="fa fa-user"></i> by Semper Porta</a> <a href="#"><i class="fa fa-comment-o"></i> 65 Comments</a></h6>
          <h1>Lorem Ipsum Dolor Sit Amet, Cons Pisicing Elit, Sed Do.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
          <blockquote>
             <p class="mgt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. But also the leap into electronic typesetting, remaining essentially unchanged. It was</p>
             <h4> - Semper Porta</h4>
            </blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
            <div class="blog_detail_li clearfix">
             <div class="col-sm-6 space_left">
              <div class="blog_detail_lil clearfix">
               <h4>Related Tags</h4>
               <ul>
                 <li><a href="#">Organic</a></li>
                 <li><a href="#">Foods</a></li>
                 <li><a href="#">Tasty</a></li>
              </ul>
              </div>
             </div>
             <div class="col-sm-6 space_left">
              <div class="blog_detail_lir text-right clearfix">
               <h4>Social Share</h4>
               <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
               </ul>
              </div>
             </div>
            </div>
         </div>
         <div class="blog_detail_l1 text-center clearfix">
          <img src="img/44.jpg" class="img-circle" alt="abc">
          <h4>Semper Porta</h4>
          <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
           </ul>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
         </div>
         <div class="blog_detail_l2 clearfix">
          <div class="blog_detail_l2i clearfix">
             <h3 class="mgt">05 Comments</h3>
          </div>
          <div class="blog_detail_l2i1 clearfix">
           <div class="col-sm-2 space_left">
            <img src="img/45.jpg" class="iw img-circle" alt="abc">
           </div>
           <div class="col-sm-10 space_left">
            <h4 class="mgt">Integer Nec <a class="col_2 pull-right" href="#"><i class="fa fa-arrow-left"></i> Reply</a></h4>
            <h6 class="col_1">19TH MAY 2020</h6>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab. perspiciatis unde omnis iste natus error.</p>
           </div>
          </div>
          <div class="blog_detail_l2i1 clearfix">
           <div class="col-sm-2 space_left">
            <img src="img/46.jpg" class="iw img-circle" alt="abc">
           </div>
           <div class="col-sm-10 space_left">
            <h4 class="mgt">Nulla Quis <a class="col_2 pull-right" href="#"><i class="fa fa-arrow-left"></i> Reply</a></h4>
            <h6 class="col_1">19TH MAY 2020</h6>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab. perspiciatis unde omnis iste natus error.</p>
           </div>
          </div>
          <div class="blog_detail_l2i1 clearfix">
           <div class="col-sm-2 space_left">
            <img src="img/47.jpg" class="iw img-circle" alt="abc">
           </div>
           <div class="col-sm-10 space_left">
            <h4 class="mgt">Augue Semper <a class="col_2 pull-right" href="#"><i class="fa fa-arrow-left"></i> Reply</a></h4>
            <h6 class="col_1">19TH MAY 2020</h6>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab. perspiciatis unde omnis iste natus error.</p>
           </div>
          </div>
          <div class="blog_detail_l2i1 pdb border_none clearfix">
           <div class="col-sm-2 space_left">
            <img src="img/48.jpg" class="iw img-circle" alt="abc">
           </div>
           <div class="col-sm-10 space_left">
            <h4 class="mgt">Lacinia Arcu <a class="col_2 pull-right" href="#"><i class="fa fa-arrow-left"></i> Reply</a></h4>
            <h6 class="col_1">19TH MAY 2020</h6>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab. perspiciatis unde omnis iste natus error.</p>
           </div>
          </div>
         </div>
         <div class="blog_detail_l3 clearfix">
             <h3 class="mgt">Post Comment</h3>
             <div class="blog_detail_l3i clearfix">
              <div class="col-sm-6 space_left">
               <input class="form-control" placeholder="Full Name" type="text">
              </div>
              <div class="col-sm-6 space_right">
               <input class="form-control" placeholder="Enter Email" type="text">
              </div>
             </div>
             <div class="blog_detail_l3i clearfix">
              <div class="col-sm-6 space_left">
               <input class="form-control" placeholder="Subject" type="text">
              </div>
              <div class="col-sm-6 space_right">
               <input class="form-control" placeholder="Phone Number" type="text">
              </div>
             </div>
             <div class="blog_detail_l3i clearfix">
              <div class="col-sm-12 space_all">
               <textarea placeholder="Comments" class="form-control form_1"></textarea>
               <h5 class="text-center"><a class="button_1 block" href="#">Submit Review</a></h5>
              </div>
             </div>
          </div>
        </div>
        <div class="col-sm-4">
         <div class="blog_detail_r clearfix">
           <div class="blog_pg_1r1 mgt clearfix">
            <h3 class="mgt">Search</h3><br>
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
                <i class="fa fa-search"></i></button>
            </span>												
         </div>
          </div>
           <div class="blog_pg_1r1 clearfix">
            <h3 class="mgt">Categories</h3><br>
            <h6 class="mgt"><a href="blog_detail.html">Single Family</a> <span class="pull-right">(45)</span></h6>
            <h6><a href="blog_detail.html">Apartment</a> <span class="pull-right">(24)</span></h6>
            <h6><a href="blog_detail.html">Condo</a> <span class="pull-right">(27)</span></h6>
            <h6><a href="blog_detail.html">Multi Family</a> <span class="pull-right">(17)</span></h6>
            <h6><a href="blog_detail.html">Villa</a> <span class="pull-right">(33)</span></h6>
            <h6><a href="blog_detail.html">Other</a> <span class="pull-right">(11)</span></h6>
           </div>
           <div class="blog_detail_r1 clearfix">
            <h3 class="mgt">Trending Posts</h3>
            <div class="blog_detail_r1i clearfix">
             <div class="col-sm-4 space_left">
              <div class="blog_detail_r1il clearfix">
               <img src="img/39.jpg" class="iw" alt="abc">
              </div>
             </div>
             <div class="col-sm-8 space_left">
              <div class="blog_detail_r1ir clearfix">
               <h5 class="mgt"><a href="#">Alonso Kelina Falao Asiano Pero</a></h5>
               <h6 class="col_2"><i class="fa fa-calendar"></i> 10 Min ago</h6>
              </div>
             </div>
            </div>
            <div class="blog_detail_r1i clearfix">
             <div class="col-sm-4 space_left">
              <div class="blog_detail_r1il clearfix">
               <img src="img/40.jpg" class="iw" alt="abc">
              </div>
             </div>
             <div class="col-sm-8 space_left">
              <div class="blog_detail_r1ir clearfix">
               <h5 class="mgt"><a href="#">Alonso Kelina Falao Asiano Pero</a></h5>
               <h6 class="col_2"><i class="fa fa-calendar"></i> 10 Min ago</h6>
              </div>
             </div>
            </div>
            <div class="blog_detail_r1i clearfix">
             <div class="col-sm-4 space_left">
              <div class="blog_detail_r1il clearfix">
               <img src="img/41.jpg" class="iw" alt="abc">
              </div>
             </div>
             <div class="col-sm-8 space_left">
              <div class="blog_detail_r1ir clearfix">
               <h5 class="mgt"><a href="#">Alonso Kelina Falao Asiano Pero</a></h5>
               <h6 class="col_2"><i class="fa fa-calendar"></i> 10 Min ago</h6>
              </div>
             </div>
            </div>
            <div class="blog_detail_r1i clearfix">
             <div class="col-sm-4 space_left">
              <div class="blog_detail_r1il clearfix">
               <img src="img/42.jpg" class="iw" alt="abc">
              </div>
             </div>
             <div class="col-sm-8 space_left">
              <div class="blog_detail_r1ir clearfix">
               <h5 class="mgt"><a href="#">Alonso Kelina Falao Asiano Pero</a></h5>
               <h6 class="col_2"><i class="fa fa-calendar"></i> 10 Min ago</h6>
              </div>
             </div>
            </div>
           </div>
           <div class="blog_detail_r2 clearfix">
            <h3 class="mgt">Tags Cloud</h3><br>
            <ul class="mgt">
             <li><a href="blog_detail.html">House</a></li>
             <li><a href="blog_detail.html">Real Home</a></li>
             <li><a href="blog_detail.html">Baths</a></li>
             <li><a href="blog_detail.html">Beds</a></li>
             <li><a href="blog_detail.html">Garages</a></li>
             <li><a href="blog_detail.html">Family</a></li>
             <li><a href="blog_detail.html">Real Estates</a></li>
             <li><a href="blog_detail.html">Properties</a></li>
             <li><a href="blog_detail.html">Location</a></li>
             <li><a href="blog_detail.html">Price</a></li>
            </ul>
           </div>
         </div>
        </div>
       </div>   
      </div>
     </div>
    </section>
    
    <section id="footer">
     <div class="container">
      <div class="row">
       <div class="footer_1 clearfix">
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">About Us</h4>
          <p class="col_2">This My Template is a team of young professionals that has been successfully creating Creative Website templates already for several years.</p>
          <h5><a class="button col_2" href="#"><i class="fa fa-android"></i> Google Store</a></h5>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">Useful Links</h4>
          <ul>
           <li><a class="col_2" href="#">About Us</a></li>
           <li><a class="col_2" href="#">FAQs Page</a></li>
           <li><a class="col_2" href="#">Checkout</a></li>
           <li><a class="col_2" href="#">Services</a></li>
           <li><a class="col_2" href="#">Contact Us</a></li>
          </ul>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">Get In Touch</h4>
          <h6 class="col_2"><i class="fa fa-map-marker"></i> 65 North Park Avenue, USA</h6>
          <h6 class="col_2"><i class="fa fa-envelope"></i> <a class="col_2" href="#">infogmail.com</a></h6>
          <h6 class="col_2"><i class="fa fa-phone"></i> +91 123 456 7890</h6>
          <h6 class="col_2"><i class="fa fa-fax"></i> +91 123 456 7890</h6>
          <h6 class="col_2"><i class="fa fa-globe"></i> All Country Realhome</h6>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">Follow Us</h4>
          <p class="col_2">Follow & Subscribe your email to get new business tips.</p>
          <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <input class="form-control" placeholder="Your Email" type="text">
         </div>
        </div>
       </div>
       <div class="footer_2 text-center clearfix">
         <div class="col-sm-12">
          <p class="col_2 mgt">© 2024 CoLive. All Rights Reserved | Design by TeamX <a class="col_1" ></a>G-15</p>
         </div>
       </div>
      </div>
     </div>
    </section>
    
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    
    </body>
