

<section id="center" class="clearfix center_about">
 <div class="container clearfix">
  <div class="row">
   <div class="center_about_1 text-center clearfix">
	<div class="col-sm-12">
	 <h1 class="mgt">About Us</h1>
	 <p>Who we are & our mission</p>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="about_page">
 <div class="container clearfix">
  <div class="row">
   <div class="about_page_1 clearfix">
	<div class="col-sm-6">
     <div class="about_page_1l clearfix">
	  <img src="./assets/img/26.jpg" class="iw" alt="abc">
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="about_page_1r clearfix">
	  <h3 class="mgt">Our Company Story</h3>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	  <h5><a class="button" href="#">READ MORE</a></h5>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="team_pg">
 <div class="container">
  <div class="row">
   <div class="popular_1 text-center clearfix">
    <div class="col-sm-12">
	 <h1 class="mgt">Our Team Member</h1>
	 <p>Professional & Dedicated Team</p>
	</div>
   </div>
   <div id="carousel-example_1" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item next left">
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
				    <a href="#"><img src="img/28.jpg" class="iw" alt="abc"></a>
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Arcu Eget</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
				    <a href="#"><img src="img/29.jpg" class="iw" alt="abc"></a>
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Lacinia Nunc</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
				    <a href="#"><img src="img/30.jpg" class="iw" alt="abc"></a>
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Ante Dapibus</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
				    <a href="#"><img src="img/31.jpg" class="iw" alt="abc"></a>
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Nec Odio</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
                </div>
                <div class="item active left">
                 <div class="col-sm-3">
			      <div class="team_hi clearfix">
				    <a href="#"><img src="img/32.jpg" class="iw" alt="abc"></a>
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Arcu Eget</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
				    <a href="#"><img src="img/33.jpg" class="iw" alt="abc"></a>
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Lacinia Nunc</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
				    <a href="#"><img src="img/34.jpg" class="iw" alt="abc"></a>
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Ante Dapibus</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
				    <a href="#"><img src="img/35.jpg" class="iw" alt="abc"></a>
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Nec Odio</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
                </div>
            </div>
        </div>
  </div>
 </div>
</section>

<section id="mission">
 <div class="container">
  <div class="row">
   <div class="popular_1 text-center clearfix">
    <div class="col-sm-12">
	 <h1 class="mgt">Our Mission & Vission</h1>
	 <p>Professional & Dedicated Team</p>
	</div>
   </div>
   <div class="mission_1 clearfix">
	<div class="col-sm-6">
     <div class="mission_1l clearfix">
	  <img src="img/27.jpg" class="iw" alt="abc">
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="mission_1r clearfix">
      <div class="mission_1ri mgt clearfix">
	   <div class="col-sm-1 space_all">
	    <span><i class="fa fa-lock col_1"></i></span>
	   </div>
	   <div class="col-sm-11">
	    <h4 class="mgt">Fully Secure & 24x7 Dedicated Support</h4>
		<p>If you are an individual client, or just a business startup looking for good backlinks for your website.</p>
	   </div>
	  </div>
	  <div class="mission_1ri clearfix">
	   <div class="col-sm-1 space_all">
	    <span><i class="fa fa-twitter col_1"></i></span>
	   </div>
	   <div class="col-sm-11">
	    <h4 class="mgt">Manage Your Social & Busness Account Carefully</h4>
		<p>If you are an individual client, or just a business startup looking for good backlinks for your website.</p>
	   </div>
	  </div>
	  <div class="mission_1ri clearfix">
	   <div class="col-sm-1 space_all">
	    <span><i class="fa fa-copy col_1"></i></span>
	   </div>
	   <div class="col-sm-11">
	    <h4 class="mgt">Fully Secure & 24x7 Dedicated Support</h4>
		<p>We Are Very Hard Worker And Loving</p>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

