

<section id="center" class="clearfix center_about">
 <div class="container clearfix">
  <div class="row">
   <div class="center_about_1 text-center clearfix">
	<div class="col-sm-12">
	 <h1 class="mgt">About Us</h1>
	 <p>Who we are & our mission</p>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="about_page">
 <div class="container clearfix">
  <div class="row">
   <div class="about_page_1 clearfix">
	<div class="col-sm-6">
     <div class="about_page_1l clearfix">
	  <img src="./assets/img/26.png" class="iw" alt="abc">
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="about_page_1r clearfix">
	  <h3 class="mgt">Our Story</h3>
	  <p>Our story began with a simple idea: to create a space where individuals can find the perfect match for their living needs.</p>
	  <p>Driven by innovation and community spirit, we’ve built a platform that transforms urban living into a more connected and fulfilling experience.</p>
	  <h5><a class="button" href="#">READ MORE</a></h5>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="mission">
	<div class="container">
	 <div class="row">
	  <div class="popular_1 text-center clearfix">
	   <div class="col-sm-12">
		<h1 class="mgt">Our Mission & Vision</h1>
	   </div>
	  </div>
	  <div class="mission_1 clearfix">
	   <div class="col-sm-6">
		<div class="mission_1l clearfix">
			<img src="./assets/img/owner.jpg" class="iw" alt="abc">
		   </div>
		<div class="mission_1l clearfix">
   
		</div>
	   </div>
	   <div class="col-sm-6">
		<div class="mission_1r clearfix">
		 <div class="mission_1ri mgt clearfix">
		  <div class="col-sm-1 space_all">
		   <span><i class="fa fa-lock col_1"></i></span>
		  </div>
		  <div class="col-sm-11">
		   <h4 class="mgt">Mission</h4>
		   <p>To empower individuals by providing smart, community-focused living solutions that enhance their urban experience.</p>
		  </div>
		 </div>
		 <div class="mission_1ri clearfix">
		  <div class="col-sm-1 space_all">
		   <span><i class="fa fa-copy col_1"></i></span>
		  </div>
		  <div class="col-sm-11">
		   <h4 class="mgt">Vision</h4>
		   <p> To become the leading platform for innovative, AI-powered co-living spaces, fostering connections and improving the quality of life in cities worldwide.</p>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </div>
	</div>
   </section>

<section id="team_pg">
 <div class="container">
  <div class="row">
   <div class="popular_1 text-center clearfix">
    <div class="col-sm-12">
	 <h1 class="mgt">Our Team Members</h1>
	</div>
   </div>
   <div id="carousel-example_1" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item next left">
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Sithum Wijesingha</a></h4>
					 <h5>Team Leader</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Malshi Wanigasingha</a></h4>
					 <h5>Team Member</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Shashini Dias</a></h4>
					 <h5>Team Member</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Isuri Perera</a></h4>
					 <h5>Team Member</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
                </div>
                <div class="item active left">
                 <div class="col-sm-3">
			      <div class="team_hi clearfix">
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Sithum Wijesingha</a></h4>
					 <h5>Team Leader</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Lacinia Nunc</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Ante Dapibus</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
				 <div class="col-sm-3">
			      <div class="team_hi clearfix">
					<div class="team_hi1 text-center clearfix">
					 <h4 class="mgt"><a href="#">Nec Odio</a></h4>
					 <h5>Office Manager</h5>
					 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
				  </div>
				 </div>
                </div>
            </div>
        </div>
  </div>
 </div>
</section>



