<body>
  
  <section id="center" class="clearfix center_detail">
   <div class="center clearfix">
         <div id="carousel" class="carousel slide carousel-fade">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div data-slide-no="0" class="item carousel-item active">
                  <img src="./assets/img/21.jpg" alt="">
                </div>
                <div data-slide-no="1" class="item carousel-item">
                  <img src="./assets/img/22.jpeg" alt="">
                </div>
                <div data-slide-no="2" class="item carousel-item">
                  <img src="./assets/img/23.jpg" alt="">
                </div>
              </div>
              <!-- Carousel nav -->
              <a class="left carousel-control kb_control_left" href="#carousel" role="button" data-slide="prev">
                  <span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a> 
              <!-- Right-Button -->
              <a class="right carousel-control kb_control_right" href="#carousel" role="button" data-slide="next">
                  <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a> 
            </div>
       </div>
  </section>
  
  <section id="list_detail">
   <div class="container clearfix">
    <div class="row">
     <div class="list_detail_1 clearfix">
      <div class="col-sm-8">
       <div class="list_detail_1l clearfix">
        <div class="list_detail_1l1 clearfix">
         <h3 class="mgt">$2299 / <span class="span_1">Monthly</span> <span class="span_2">For Co-Living</span></h3>
         <p><i class="fa fa-map-marker"></i> Colombo</p>
        </div>
        <div class="list_detail_1l2 clearfix">
        <h4 class="mgt">Property Info</h4>
        <hr>
        <div class="list_detail_1l2i clearfix">
         <div class="col-sm-3 space_left">
          <h5 class="mgt">Bedrooms</h5>
          <h6 class="col_1">3</h6>
         </div>
         <div class="col-sm-3 space_left">
          <h5 class="mgt">Bathrooms</h5>
          <h6 class="col_1">1</h6>
         </div>
         <div class="col-sm-3 space_left">
          <h5 class="mgt">Garage</h5>
          <h6 class="col_1">Yes</h6>
         </div>
         <div class="col-sm-3 space_left">
          <h5 class="mgt">Area</h5>
          <h6 class="col_1">490 sq ft</h6>
         </div>
        </div>
        <div class="list_detail_1l2i clearfix">
         <div class="col-sm-3 space_left">
          <h5 class="mgt">Type</h5>
          <h6 class="col_1">Apartment</h6>
         </div>
         <div class="col-sm-3 space_left">
          <h5 class="mgt">price</h5>
          <h6 class="col_1">$33244</h6>
         </div>
         <div class="col-sm-3 space_left">
          <h5 class="mgt">City</h5>
          <h6 class="col_1">London</h6>
         </div>
         <div class="col-sm-3 space_left">
          <h5 class="mgt">Build On</h5>
          <h6 class="col_1">2004</h6>
         </div>
        </div>
        </div>
        <div class="list_detail_1l2 clearfix">
        <h4 class="mgt">Description</h4>
        <hr>
        <p> Ditch the cramped apartment for a Colombo co-living dream! This spacious 2-story house offers private bedrooms for relaxation, a modern kitchen for culinary adventures, and inviting common areas perfect for movie nights or game nights with your new housemates. Share the cost of rent and utilities, build friendships with like-minded professionals or students, and experience the convenience of city living with easy access to shops, restaurants, cafes, and public transportation. All in a hassle-free, furnished haven – this co-living opportunity is the perfect blend of affordability and social connection. Contact us today to claim your spot!</p>
        </div>
        <div class="list_detail_1l2 clearfix">
        <h4 class="mgt">Ameneties</h4>
        <hr>
         <div class="home_inner_i clearfix">
                            <div class="col-sm-4 space_left">
                             <h5 class="mgt"><i class="fa fa-check-square col_1"></i> Air conditioning</h5>
                            </div>
                            <div class="col-sm-4 space_left">
                             <h5 class="mgt"><i class="fa fa-check-square col_1"></i> Wifi</h5>
                            </div>
                            <div class="col-sm-4 space_left">
                             <h5 class="mgt"><i class="fa fa-check-square col_1"></i> Telephone</h5>
                            </div>
                       </div>
         <div class="home_inner_i clearfix">
            <div class="col-sm-4 space_left">
             <h5 class="mgt"><i class="fa fa-check-square col_1"></i> Balcony</h5>
            </div>
            <div class="col-sm-4 space_left">
             <h5 class="mgt"><i class="fa fa-check-square col_1"></i> Parking</h5>
            </div>
            <div class="col-sm-4 space_left">
             <h5 class="mgt"><i class="fa fa-check-square col_1"></i> Gym</h5>
            </div>
       </div>
         <div class="home_inner_i clearfix">
            <div class="col-sm-4 space_left">
             <h5 class="mgt"><i class="fa fa-check-square col_1"></i> Pool</h5>
            </div>
            <div class="col-sm-4 space_left">
             <h5 class="mgt"><i class="fa fa-check-square col_1"></i> Double Bed</h5>
            </div>
       </div>
         <div class="home_inner_i clearfix">
            <div class="col-sm-4 space_left">
             <h5 class="mgt"><i class="fa fa-check-square col_1"></i> TV</h5>
            </div>
       </div>
        </div>
        <div class="list_detail_1l2 clearfix">
        <h4 class="mgt">Floor Plan</h4>
        <hr>
        <table>
                <tbody><tr>
                  <th class="big_p"><h5 class="mgt">Size</h5></th>
                  <th class="big_p"><h5 class="mgt">Rooms</h5></th>
                  <th class="big_p"><h5 class="mgt">Bathrooms</h5></th>
                </tr>
                <tr>
                  <td><h6 class="mgt">1400</h6></td>
                  <td><h6 class="mgt">5</h6></td>
                  <td><h6 class="mgt">2</h6></td>
                </tr>
          
             </tbody></table>
        </div>
        <div class="list_detail_1l2 clearfix">
        <h4 class="mgt">Location</h4>
        <hr>
        <iframe src="https://www.google.com/maps/embed?pb=!1m0&q=6.927079,79.861244+colombo+sri+lanka" width="100%" height="350px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="list_detail_1r clearfix">
        <div class="list_detail_1r1 clearfix">
         <img src="img/13.jpg" class="img-circle" alt="abc">
         <h4 class="mgt"><a href="#">K.P. Perera</a></h4>
         <h5><i class="fa fa-phone col_1"></i> 071-23456789</h5>
         <div class="list_detail_1r1i clearfix">
          <input placeholder="Your Name" class="form-control" type="text">
          <input placeholder="Your Email" class="form-control" type="text">
          <input placeholder="Your Phone" class="form-control" type="text">
          <textarea placeholder="Message" class="form-control form_1"></textarea>
          <h5 class="text-center"><a class="button block" href="#">SEND MESSAGE</a></h5>
         </div>
        </div>
        <div class="list_detail_1r2 clearfix">
          <h4 class="mgt">MORTGAGE CALCULATOR</h4>
          <hr>
          <h6 class="mgt">Property Price</h6>
          <input placeholder="$77.000" class="form-control" type="text">
          <h6>Interest Rate (%)</h6>
          <input placeholder="08%" class="form-control" type="text">
          <h6>Period In Months</h6>
          <input placeholder="8 Months" class="form-control" type="text">
          <h6>Down Payment</h6>
          <input placeholder="Abc" class="form-control" type="text">
          <h5 class="text-center"><a class="button block" href="#">SEARCH</a></h5>
         </div>
        <div class="list_detail_1r3 clearfix">
        <div class="popular_2i clearfix">
         <div class="popular_2i1 clearfix">
          <a href="#"><img src="img/2.jpg" class="iw" alt="abc"></a>
         </div>
         <div class="popular_2i2 clearfix">
          <h5 class="mgt"><a href="#">FOR House-Sharing</a></h5>
         </div>
       </div>
        <div class="popular_2i3 clearfix">
          <h5 class="mgt"><a href="#">One Storey Home <i class="fa fa-check-square col_1"></i></a></h5>
          <h4 class="col_1">$13,599 / <span class="col_2">Month</span></h4>
          <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
          <h5 class="inline"><a class="button" href="#">Request Info</a></h5>
          <h5 class="inline"><a class="button_1" href="#">Property Detail</a></h5>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  
    <script src="js/classie.js"></script>
  <script src="js/cbpAnimatedHeader.js"></script>
  
  </body>
