
    <section id="center" class="clearfix center_about">
     <div class="container clearfix">
      <div class="row">
       <div class="center_about_1 text-center clearfix">
        <div class="col-sm-12">
         <h1 class="mgt">Contact Us</h1>
         <p>We’re Here to Support—Contact Us Anytime!</p>
        </div>
       </div>
      </div>
     </div>
    </section>
    
    <section id="contact">
     <div class="container clearfix">
      <div class="row">
       <div class="contact_1 clearfix">
        <div class="col-sm-7">
         <div class="contact_1l clearfix">
            <form (ngSubmit)="onSubmit()" #questionnaireForm="ngForm">
               <div class="blog_detail_l3 clearfix"  >
                  <h3 class="mgt">Post Comment</h3>
                  <div class="blog_detail_l3i clearfix">
                   <div class="col-sm-6 space_left"  >
                    <input  class="form-control" placeholder="Full Name" type="text" id="name" name="name" [(ngModel)]="name">
                   </div>
                   <div class="col-sm-6 space_right" >
                    <input class="form-control" placeholder="Enter Email" type="text" id="email" name="email" [(ngModel)]="email">
                   </div>
                  </div>
                  <div class="blog_detail_l3i clearfix" >
                   <div class="col-sm-6 space_left">
                    <input class="form-control" placeholder="Subject" type="text" id="subject" name="subject" [(ngModel)]="subject">
                   </div>
                   <div class="col-sm-6 space_right" >
                    <input class="form-control" placeholder="Phone Number" type="text" id="number" name="number" [(ngModel)]="number">
                   </div>
                  </div>
                  <div class="blog_detail_l3i clearfix" >
                   <div class="col-sm-12 space_all">
                    <textarea placeholder="Comments" class="form-control form_1" type="text" id="message" name="message" [(ngModel)]="message"></textarea>
                   
                    <button class="btn btn-lg btn-block blue-bg"  type="submit">Submit</button>
                   </div>
                  </div>
               </div>
            </form>
         </div>
        </div>
        <div class="col-sm-5">
         <div class="contact_1r clearfix">
          <h3 class="mgt">Get In Touch</h3>
          <p>We’re here to help and eager to hear from you. Whether you have questions, need support, or want to discuss a potential project, our team is ready to assist you. Please reach out using the contact information below or fill out the form, and we’ll get back to you as soon as possible. Your inquiries are important to us, and we look forward to connecting with you.</p>
          <div class="mission_1ri clearfix">
           <div class="col-sm-1 space_all">
            <span><i class="fa fa-building col_1"></i></span>
           </div>
           <div class="col-sm-11">
            <h4 class="mgt">Reach Us</h4>
            <p class="col_2">1417, Pabahinna,<br>
    Ibulpe, Balangoda,<br>
    Rathnapura,Sri Lanka</p>
           </div>
          </div>
          <div class="mission_1ri clearfix">
           <div class="col-sm-1 space_all">
            <span><i class="fa fa-envelope col_1"></i></span>
           </div>
           <div class="col-sm-11">
            <h4 class="mgt">Drop A Mail</h4>
            <p class="col_2">coLivegmail.com <br>info$gmail.com</p>
           </div>
          </div>
          <div class="mission_1ri clearfix">
           <div class="col-sm-1 space_all">
            <span><i class="fa fa-phone col_1"></i></span>
           </div>
           <div class="col-sm-11">
            <h4 class="mgt">Call Us</h4>
            <p class="col_2">0412245656 <br>1234567890</p>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="contact_2 clearfix">
         <div class="col-sm-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
         </div>
         </div>
      </div>
     </div>
    </section>
    

