
    <section id="center" class="center_list clearfix">
    <div class="container">
      <div class="row">
       <div class="center_home_1 clearfix">
        <h1 class="text-center mgt">Find Your RealHome</h1>
        <div class="center_home_1i clearfix">
         <div class="col-sm-4">
          <div class="center_home_1i1 clearfix">
            <input placeholder="Neighborhood" class="form-control" type="text">
          </div>
         </div>
         <div class="col-sm-4">
          <div class="center_home_1i1 clearfix">
            <select class="form-control" name="Location">
            <option value="">All Cities</option>
            <option value="family-house">New York</option>
            <option value="apartment">Los Angeles</option>
            <option value="condo">Chicago</option>
            <option value="condo">Philadelphia</option>
            <option value="condo">San Francisco</option>
           </select>
          </div>
         </div>
         <div class="col-sm-4">
          <div class="center_home_1i1 clearfix">
            <select class="form-control" name="property">
            <option value="">Property Type</option>
            <option value="family-house">Family House</option>
            <option value="apartment">Apartment</option>
            <option value="condo">Condo</option>
           </select>
          </div>
         </div>
        </div>
        <div class="center_home_1i clearfix">
         <div class="col-sm-4">
          <div class="center_home_1i1 clearfix">
            <select class="form-control" name="beds" id="beds">
            <option value="">Bedrooms</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select>
          </div>
         </div>
         <div class="col-sm-4">
          <div class="center_home_1i1 clearfix">
            <select class="form-control" name="beds" id="beds">
            <option value="">Bathrooms</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select>
          </div>
         </div>
         <div class="col-sm-4">
          <div class="center_home_1i1 clearfix">
            <h5 class="mgt text-center"><a class="button_1 block mgt" href="detail.html">Search Result</a></h5>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    
    <section id="popular">
     <div class="container">
      <div class="row">
       <div class="popular_1 text-center clearfix">
        <div class="col-sm-12">
         <h1 class="mgt"> Property List</h1>
         <p>Find new &amp; top rated property for you.</p>
        </div>
       </div>
       <div class="popular_2 clearfix">
        <div class="col-sm-4">
         <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="detail.html"><img src="./assets/img/2.jpg" class="iw" alt="abc"></a>	   </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="detail.html">FOR RENT</a></h5>
           </div>
         </div>
         <div class="popular_2i3 clearfix">
            <h5 class="mgt"><a href="detail.html">Energy Certificate For EU <i class="fa fa-check-square col_1"></i></a></h5>
            <h4 class="col_1">$13,599 / <span class="col_2">Month</span></h4>
            <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
            <h5 class="inline"><a class="button" href="detail.html">Request Info</a></h5>
            <h5 class="inline"><a class="button_1" href="detail.html">Property Detail</a></h5>
           </div>
        </div>
        <div class="col-sm-4">
         <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="detail.html"><img src="./assets/img/3.jpg" class="iw" alt="abc"></a>	   </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="detail.html">FOR SALE</a></h5>
           </div>
         </div>
         <div class="popular_2i3 clearfix">
            <h5 class="mgt"><a href="detail.html">Modern Family Home <i class="fa fa-check-square col_1"></i></a></h5>
            <h4 class="col_1">$11,550 / <span class="col_2">Month</span></h4>
            <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
            <h5 class="inline"><a class="button" href="detail.html">Request Info</a></h5>
            <h5 class="inline"><a class="button_1" href="detail.html">Property Detail</a></h5>
           </div>
        </div>
        <div class="col-sm-4">
         <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="detail.html"><img src="./assets/img/4.jpg" class="iw" alt="abc"></a>	   </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="detail.html">FOR RENT</a></h5>
           </div>
         </div>
         <div class="popular_2i3 clearfix">
            <h5 class="mgt"><a href="detail.html">Real Luxury Villa <i class="fa fa-check-square col_1"></i></a></h5>
            <h4 class="col_1">$10,599 / <span class="col_2">Month</span></h4>
            <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
            <h5 class="inline"><a class="button" href="detail.html">Request Info</a></h5>
            <h5 class="inline"><a class="button_1" href="detail.html">Property Detail</a></h5>
           </div>
        </div>
       </div>
       <div class="popular_2 clearfix">
        <div class="col-sm-4">
         <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="detail.html"><img src="./assets/img/5.jpg" class="iw" alt="abc"></a>	   </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="detail.html">FOR RENT</a></h5>
           </div>
         </div>
         <div class="popular_2i3 clearfix">
            <h5 class="mgt"><a href="detail.html">Energy Certificate For EU <i class="fa fa-check-square col_1"></i></a></h5>
            <h4 class="col_1">$13,599 / <span class="col_2">Month</span></h4>
            <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
            <h5 class="inline"><a class="button" href="detail.html">Request Info</a></h5>
            <h5 class="inline"><a class="button_1" href="detail.html">Property Detail</a></h5>
           </div>
        </div>
        <div class="col-sm-4">
         <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="detail.html"><img src="./assets/img/6.jpg" class="iw" alt="abc"></a>	   </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="detail.html">FOR SALE</a></h5>
           </div>
         </div>
         <div class="popular_2i3 clearfix">
            <h5 class="mgt"><a href="detail.html">Modern Family Home <i class="fa fa-check-square col_1"></i></a></h5>
            <h4 class="col_1">$11,550 / <span class="col_2">Month</span></h4>
            <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
            <h5 class="inline"><a class="button" href="detail.html">Request Info</a></h5>
            <h5 class="inline"><a class="button_1" href="detail.html">Property Detail</a></h5>
           </div>
        </div>
        <div class="col-sm-4">
         <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="detail.html"><img src="./assets/img/7.jpg" class="iw" alt="abc"></a>	   </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="detail.html">FOR RENT</a></h5>
           </div>
         </div>
         <div class="popular_2i3 clearfix">
            <h5 class="mgt"><a href="detail.html">Real Luxury Villa <i class="fa fa-check-square col_1"></i></a></h5>
            <h4 class="col_1">$10,599 / <span class="col_2">Month</span></h4>
            <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
            <h5 class="inline"><a class="button" href="detail.html">Request Info</a></h5>
            <h5 class="inline"><a class="button_1" href="detail.html">Property Detail</a></h5>
           </div>
        </div>
       </div>
       <div class="popular_2 clearfix">
        <div class="col-sm-4">
         <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="detail.html"><img src="./assets/img/2.jpg" class="iw" alt="abc"></a>	   </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="detail.html">FOR RENT</a></h5>
           </div>
         </div>
         <div class="popular_2i3 clearfix">
            <h5 class="mgt"><a href="detail.html">Energy Certificate For EU <i class="fa fa-check-square col_1"></i></a></h5>
            <h4 class="col_1">$13,599 / <span class="col_2">Month</span></h4>
            <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
            <h5 class="inline"><a class="button" href="detail.html">Request Info</a></h5>
            <h5 class="inline"><a class="button_1" href="detail.html">Property Detail</a></h5>
           </div>
        </div>
        <div class="col-sm-4">
         <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="detail.html"><img src="./assets/img/3.jpg" class="iw" alt="abc"></a>	   </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="detail.html">FOR SALE</a></h5>
           </div>
         </div>
         <div class="popular_2i3 clearfix">
            <h5 class="mgt"><a href="detail.html">Modern Family Home <i class="fa fa-check-square col_1"></i></a></h5>
            <h4 class="col_1">$11,550 / <span class="col_2">Month</span></h4>
            <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
            <h5 class="inline"><a class="button" href="detail.html">Request Info</a></h5>
            <h5 class="inline"><a class="button_1" href="detail.html">Property Detail</a></h5>
           </div>
        </div>
        <div class="col-sm-4">
         <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="detail.html"><img src="./assets/img/4.jpg" class="iw" alt="abc"></a>	   </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="detail.html">FOR RENT</a></h5>
           </div>
         </div>
         <div class="popular_2i3 clearfix">
            <h5 class="mgt"><a href="detail.html">Real Luxury Villa <i class="fa fa-check-square col_1"></i></a></h5>
            <h4 class="col_1">$10,599 / <span class="col_2">Month</span></h4>
            <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
            <h5 class="inline"><a class="button" href="detail.html">Request Info</a></h5>
            <h5 class="inline"><a class="button_1" href="detail.html">Property Detail</a></h5>
           </div>
        </div>
       </div>
       <div class="product_1_last text-center clearfix">
          <div class="col-sm-12">
           <ul>
            <li><a href="detail.html"><i class="fa fa-chevron-left"></i></a></li>
            <li class="act"><a href="detail.html">1</a></li>
            <li><a href="detail.html">2</a></li>
            <li><a href="detail.html">3</a></li>
            <li><a href="detail.html">4</a></li>
            <li><a href="detail.html">5</a></li>
            <li><a href="detail.html">6</a></li>
            <li><a href="detail.html"><i class="fa fa-chevron-right"></i></a></li>
           </ul>
          </div>
         </div>
      </div>
     </div>
    </section>
    

     
