<body>
    <section id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><i class="fa fa-home"></i> My Home</a>
                </div>
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="tag_menu active_tab" routerlink="Home">Home</a>
                        </li>
                        <li class="dropdown">
                          <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Property<span class="caret"></span></a>
                          <ul class="dropdown-menu drop_1" role="menu">
                            <li><a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">Property List</a></li>
                            <li><a routerLink="/detail" routerLinkActive="active" ariaCurrentWhenActive="page">Property Detail</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
                          <ul class="dropdown-menu drop_1" role="menu">
                            <li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page" >Blog</a></li>
                            <li><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Blog Detail</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
                          <ul class="dropdown-menu drop_1" role="menu">
                            <li><a routerLink="/agent" routerLinkActive="active" ariaCurrentWhenActive="page">Agent</a></li>
                            <li><a routerLink="/agency" routerLinkActive="active" ariaCurrentWhenActive="page">Agency Page</a></li>
                            <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
                            <li><a routerLink="/property" routerLinkActive="active" ariaCurrentWhenActive="page">Submit Property</a></li>
                          </ul>
                        </li>
                        <li>
                            <a class="tag_menu" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="tag_menu" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Log In / Sign Up</a>
                        </li>
                        <li>
                            <a class="tag_menu button_1 mgt" routerLink="/property" routerLinkActive="active" ariaCurrentWhenActive="page">Submit Property</a>
                        </li>
                    </ul>
                     
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </section>
    
    <section id="center" class="clearfix center_agent">
     <div class="container clearfix">
      <div class="row">
       <div class="center_agent_1 clearfix">
        <div class="col-sm-3">
         <div class="center_agent_1l clearfix">
          <a href="#"><img src="img/24.jpg" class="iw" alt="abc"></a>
         </div>
        </div>
        <div class="col-sm-9">
         <div class="center_agent_1r clearfix">
          <h4 class="mgt"><a href="#">Mauris massa</a></h4>
          <h5><i class="fa fa-map-marker"></i> 2799 Lorem Lane</h5>
          <p>Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</p>
          <h5 class="col_2"><i class="fa fa-phone"></i> (123) 456-789</h5>
          <h5><i class="fa fa-envelope"></i> <a href="#">infogmail.com</a></h5>
          <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    
    <section id="list_detail">
     <div class="container clearfix">
      <div class="row">
       <div class="list_detail_1 clearfix">
        <div class="col-sm-8">
          <div class="list_detail_1l clearfix">
           <div class="list_detail_1l2 clearfix">
          <h4 class="mgt">Agent Info</h4>
          <hr>
          <div class="list_detail_1l2i clearfix">
           <div class="col-sm-3 space_left">
            <h5 class="mgt">Ceo</h5>
            <h6 class="col_1">Mr. Dolor Sit</h6>
           </div>
           <div class="col-sm-3 space_left">
            <h5 class="mgt">Email</h5>
            <h6 class="col_1">info$gmail.com</h6>
           </div>
           <div class="col-sm-3 space_left">
            <h5 class="mgt">Phone</h5>
            <h6 class="col_1"> (91) 123 456 7890</h6>
           </div>
           <div class="col-sm-3 space_left">
            <h5 class="mgt">Skype</h5>
            <h6 class="col_1">jtva14mia</h6>
           </div>
          </div>
          <div class="list_detail_1l2i clearfix">
           <div class="col-sm-3 space_left">
            <h5 class="mgt">Address</h5>
            <h6 class="col_1">460, Near Lorem</h6>
           </div>
           <div class="col-sm-3 space_left">
            <h5 class="mgt">City</h5>
            <h6 class="col_1">London</h6>
           </div>
           <div class="col-sm-3 space_left">
            <h5 class="mgt">Country</h5>
            <h6 class="col_1">England</h6>
           </div>
           <div class="col-sm-3 space_left">
            <h5 class="mgt">Build On</h5>
            <h6 class="col_1">2004</h6>
           </div>
          </div>
          </div>
           <div class="list_detail_1l4 clearfix">
             <div class="col-sm-5 space_all">
              <div class="list_detail_1l4l clearfix">
               <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="#"><img src="img/2.jpg" class="iw" alt="abc"></a>
           </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="#">FOR RENT</a></h5>
           </div>
         </div>
              </div>
             </div>
             <div class="col-sm-7 space_all">
              <div class="list_detail_1l4r clearfix">
               <h4 class="mgt"><a href="#">Semper Valley Ocs</a></h4>
               <h6 class="col_2"><i class="fa fa-map-marker"></i> 65 North Park Avenue, USA</h6>
               <ul>
                <li>Bed:3</li>
                <li>Bath:2</li>
                <li>Sqft:3,900</li>
               </ul>
               <h5 class="col_1">$632,580 <a class="button_1 mgt pull-right" href="#">More Info</a></h5>
              </div>
             </div>
           </div>
           <div class="list_detail_1l4 clearfix">
             <div class="col-sm-5 space_all">
              <div class="list_detail_1l4l clearfix">
               <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="#"><img src="img/3.jpg" class="iw" alt="abc"></a>
           </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="#">FOR RENT</a></h5>
           </div>
         </div>
              </div>
             </div>
             <div class="col-sm-7 space_all">
              <div class="list_detail_1l4r clearfix">
               <h4 class="mgt"><a href="#">Semper Valley Ocs</a></h4>
               <h6 class="col_2"><i class="fa fa-map-marker"></i> 65 North Park Avenue, USA</h6>
               <ul>
                <li>Bed:3</li>
                <li>Bath:2</li>
                <li>Sqft:3,900</li>
               </ul>
               <h5 class="col_1">$632,580 <a class="button_1 mgt pull-right" href="#">More Info</a></h5>
              </div>
             </div>
           </div>
           <div class="list_detail_1l4 clearfix">
             <div class="col-sm-5 space_all">
              <div class="list_detail_1l4l clearfix">
               <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="#"><img src="img/4.jpg" class="iw" alt="abc"></a>
           </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="#">FOR RENT</a></h5>
           </div>
         </div>
              </div>
             </div>
             <div class="col-sm-7 space_all">
              <div class="list_detail_1l4r clearfix">
               <h4 class="mgt"><a href="#">Semper Valley Ocs</a></h4>
               <h6 class="col_2"><i class="fa fa-map-marker"></i> 65 North Park Avenue, USA</h6>
               <ul>
                <li>Bed:3</li>
                <li>Bath:2</li>
                <li>Sqft:3,900</li>
               </ul>
               <h5 class="col_1">$632,580 <a class="button_1 mgt pull-right" href="#">More Info</a></h5>
              </div>
             </div>
           </div>
           <div class="list_detail_1l4 clearfix">
             <div class="col-sm-5 space_all">
              <div class="list_detail_1l4l clearfix">
               <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="#"><img src="img/5.jpg" class="iw" alt="abc"></a>
           </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="#">FOR RENT</a></h5>
           </div>
         </div>
              </div>
             </div>
             <div class="col-sm-7 space_all">
              <div class="list_detail_1l4r clearfix">
               <h4 class="mgt"><a href="#">Semper Valley Ocs</a></h4>
               <h6 class="col_2"><i class="fa fa-map-marker"></i> 65 North Park Avenue, USA</h6>
               <ul>
                <li>Bed:3</li>
                <li>Bath:2</li>
                <li>Sqft:3,900</li>
               </ul>
               <h5 class="col_1">$632,580 <a class="button_1 mgt pull-right" href="#">More Info</a></h5>
              </div>
             </div>
           </div>
           <div class="product_1_last text-center clearfix">
          <div class="col-sm-12">
           <ul>
            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
            <li class="act"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
           </ul>
          </div>
         </div>
          </div>
        </div>
        <div class="col-sm-4">
         <div class="list_detail_1r clearfix">
          <div class="list_detail_1r1 clearfix">
           <img src="img/13.jpg" class="img-circle" alt="abc">
           <h4 class="mgt"><a href="#">Mauris Massa</a></h4>
           <h5><i class="fa fa-phone col_1"></i> (91) 123 456 7890</h5>
           <div class="list_detail_1r1i clearfix">
            <input placeholder="Your Name" class="form-control" type="text">
            <input placeholder="Your Email" class="form-control" type="text">
            <input placeholder="Your Phone" class="form-control" type="text">
            <textarea placeholder="Message" class="form-control form_1"></textarea>
            <h5 class="text-center"><a class="button block" href="#">SEND MESSAGE</a></h5>
           </div>
          </div>
          <div class="list_detail_1r2 clearfix">
            <h4 class="mgt">MORTGAGE CALCULATOR</h4>
            <hr>
            <h6 class="mgt">Property Price</h6>
            <input placeholder="$77.000" class="form-control" type="text">
            <h6>Interest Rate (%)</h6>
            <input placeholder="08%" class="form-control" type="text">
            <h6>Period In Months</h6>
            <input placeholder="8 Months" class="form-control" type="text">
            <h6>Down Payment</h6>
            <input placeholder="Abc" class="form-control" type="text">
            <h5 class="text-center"><a class="button block" href="#">SEARCH</a></h5>
           </div>
          <div class="list_detail_1r3 clearfix">
          <div class="popular_2i clearfix">
           <div class="popular_2i1 clearfix">
            <a href="#"><img src="img/2.jpg" class="iw" alt="abc"></a>
           </div>
           <div class="popular_2i2 clearfix">
            <h5 class="mgt"><a href="#">FOR RENT</a></h5>
           </div>
         </div>
          <div class="popular_2i3 clearfix">
            <h5 class="mgt"><a href="#">Energy Certificate For EU <i class="fa fa-check-square col_1"></i></a></h5>
            <h4 class="col_1">$13,599 / <span class="col_2">Month</span></h4>
            <h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
            <h5 class="inline"><a class="button" href="#">Request Info</a></h5>
            <h5 class="inline"><a class="button_1" href="#">Property Detail</a></h5>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    
    <section id="footer">
     <div class="container">
      <div class="row">
       <div class="footer_1 clearfix">
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">About Us</h4>
          <p class="col_2">This My Template is a team of young professionals that has been successfully creating Creative Website templates already for several years.</p>
          <h5><a class="button col_2" href="#"><i class="fa fa-android"></i> Google Store</a></h5>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">Useful Links</h4>
          <ul>
           <li><a class="col_2" href="#">About Us</a></li>
           <li><a class="col_2" href="#">FAQs Page</a></li>
           <li><a class="col_2" href="#">Checkout</a></li>
           <li><a class="col_2" href="#">Services</a></li>
           <li><a class="col_2" href="#">Contact Us</a></li>
          </ul>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">Get In Touch</h4>
          <h6 class="col_2"><i class="fa fa-map-marker"></i> 65 North Park Avenue, USA</h6>
          <h6 class="col_2"><i class="fa fa-envelope"></i> <a class="col_2" href="#">info$gmail.com</a></h6>
          <h6 class="col_2"><i class="fa fa-phone"></i> +91 123 456 7890</h6>
          <h6 class="col_2"><i class="fa fa-fax"></i> +91 123 456 7890</h6>
          <h6 class="col_2"><i class="fa fa-globe"></i> All Country Realhome</h6>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">Follow Us</h4>
          <p class="col_2">Follow & Subscribe your email to get new business tips.</p>
          <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <input class="form-control" placeholder="Your Email" type="text">
         </div>
        </div>
       </div>
       <div class="footer_2 text-center clearfix">
         <div class="col-sm-12">
          <p class="col_2 mgt">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
         </div>
       </div>
      </div>
     </div>
    </section>
    
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    
    </body>
