<body> <!-- new comment -->
    <section id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><i class="fa fa-home"></i> My Home</a>
                </div>
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="tag_menu" href="index.html">Home</a>
                        </li>
                        <li class="dropdown">
                          <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Property<span class="caret"></span></a>
                          <ul class="dropdown-menu drop_1" role="menu">
                            <li><a href="list.html">Property List</a></li>
                            <li><a href="detail.html">Property Detail</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
                          <ul class="dropdown-menu drop_1" role="menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog_detail.html">Blog Detail</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="tag_menu active_tab" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
                          <ul class="dropdown-menu drop_1" role="menu">
                            <li><a href="agent.html">Agent</a></li>
                            <li><a href="agency.html">Agency Page</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="property.html">Submit Property</a></li>
                          </ul>
                        </li>
                        <li>
                            <a class="tag_menu" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="tag_menu" href="login.html">Log In / Sign Up</a>
                        </li>
                        <li>
                            <a class="tag_menu button_1 mgt" href="property.html">Submit Property</a>
                        </li>
                    </ul>
                     
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </section>
    
    <section id="center" class="clearfix center_about">
     <div class="container clearfix">
      <div class="row">
       <div class="center_about_1 text-center clearfix">
        <div class="col-sm-12">
         <h1 class="mgt">Submit Property</h1>
         <p>Just Submit Your Property</p>
        </div>
       </div>
      </div>
     </div>
    </section>
    
    <section id="prop">
     <div class="container">
      <div class="row">
       <div class="submit_1 mgt clearfix">
        <h4 class="mgt col_1">Property Description And Price</h4>
        <hr>
        <h5>Property Title</h5>
        <input class="form-control" placeholder="Property Title" type="text">
        <h5>Property Description</h5>
        <textarea placeholder="Property Description" class="form-control form_o"></textarea>
        <div class="submit_1i clearfix">
         <div class="col-sm-4 space_left">
          <div class="submit_1i1 clearfix">
            <h5>Status</h5>
            <select class="form-control">
                     <option>Select Status</option>
                     <option>Rent</option>
                     <option>Sale</option>
         </select>
          </div>
         </div>
         <div class="col-sm-4 space_all">
          <div class="submit_1i1 clearfix">
            <h5>Type</h5>
            <select class="form-control">
                     <option>Select Type</option>
                     <option>House</option>
                     <option>Commercial</option>
                     <option>Apartment</option>
                     <option>Garage</option>
         </select>
          </div>
         </div>
         <div class="col-sm-4 space_right">
          <div class="submit_1i1 clearfix">
            <h5>Rooms</h5>
            <select class="form-control">
                     <option>Select Type</option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
         </select>
          </div>
         </div>
        </div>
        <div class="submit_1i clearfix">
         <div class="col-sm-6 space_left">
          <div class="submit_1i1 clearfix">
            <h5>Price</h5>
            <input class="form-control" placeholder="USD" type="text">
          </div>
         </div>
         <div class="col-sm-6 space_right">
          <div class="submit_1i1 clearfix">
            <h5>Area</h5>
            <input class="form-control" placeholder="Sqft" type="text">
          </div>
         </div>
        </div>
       </div>
       <div class="submit_1 clearfix">
         <h4 class="mgt col_1">Property Media</h4>
         <hr>
         <div class="submit_1ii clearfix">
          <span class="span_1"><i class="fa fa-cloud-upload"></i></span>
          <h5>Click Here Or Drop Files To Upload</h5>
         </div>
       </div>
       <div class="submit_1 clearfix">
        <h4 class="mgt col_1">Property Location</h4>
        <hr>
        <div class="submit_1i clearfix">
         <div class="col-sm-6 space_left">
          <div class="submit_1i1 clearfix">
            <h5 class="mgt">Address</h5>
            <input class="form-control" placeholder="Enter Your Address" type="text">
          </div>
         </div>
         <div class="col-sm-6 space_right">
          <div class="submit_1i1 clearfix">
            <h5 class="mgt">City</h5>
            <input class="form-control" placeholder="Enter Your City" type="text">
          </div>
         </div>
        </div>
        <div class="submit_1i clearfix">
         <div class="col-sm-6 space_left">
          <div class="submit_1i1 clearfix">
            <h5>State</h5>
            <input class="form-control" placeholder="Enter Your State" type="text">
          </div>
         </div>
         <div class="col-sm-6 space_right">
          <div class="submit_1i1 clearfix">
            <h5>Country</h5>
            <input class="form-control" placeholder="Enter Your Country" type="text">
          </div>
         </div>
        </div>
        <div class="submit_1i clearfix">
         <div class="col-sm-6 space_left">
          <div class="submit_1i1 clearfix">
            <h5>Google Maps Latitude</h5>
            <input class="form-control" placeholder="Google Maps Latitude" type="text">
          </div>
         </div>
         <div class="col-sm-6 space_right">
          <div class="submit_1i1 clearfix">
            <h5>Google Maps Longitude</h5>
            <input class="form-control" placeholder="Google Maps Longitude" type="text">
          </div>
         </div>
        </div>
       </div>
       <div class="submit_1 clearfix">
        <h4 class="mgt col_1">Extra Information</h4>
        <hr>
        <div class="submit_1i clearfix">
         <div class="col-sm-4 space_left">
          <div class="submit_1i1 clearfix">
            <h5 class="mgt">Building Age <span class="col_2">(Optional)</span></h5>
            <select class="form-control">
                     <option>Select Age</option>
                     <option>0-5 Years</option>
                     <option>5-15 Years</option>
                     <option>15-30 Years</option>
                     <option>30-50 Years</option>
                     <option>50-70 Years</option>
         </select>
          </div>
         </div>
         <div class="col-sm-4 space_all">
          <div class="submit_1i1 clearfix">
            <h5 class="mgt">Bedrooms <span class="col_2">(Optional)</span></h5>
            <select class="form-control">
                     <option>Select Bedrooms</option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                     <option>6</option>
         </select>
          </div>
         </div>
         <div class="col-sm-4 space_right">
          <div class="submit_1i1 clearfix">
            <h5 class="mgt">Bathrooms <span class="col_2">(Optional)</span></h5>
            <select class="form-control">
                      <option>Select Bathrooms</option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                     <option>6</option>
         </select>
          </div>
         </div>
        </div>
       </div>
       <div class="submit_2 clearfix">
        <h4 class="mgt col_1">Property Features</h4>
        <hr>
        <div class="submit_2i clearfix">
         <h5><input type="checkbox"> <span class="span_1">Air Conditioning</span></h5>
         <h5><input type="checkbox"> <span class="span_1">Swimming Pool</span></h5>
         <h5><input type="checkbox"> <span class="span_1"> Central Heating</span></h5>
         <h5><input type="checkbox"> <span class="span_1">Laundry Room</span></h5>
         <h5><input type="checkbox"> <span class="span_1">Gym</span></h5>
         <h5><input type="checkbox"> <span class="span_1">Alarm</span></h5>
         <h5><input type="checkbox"> <span class="span_1">Window Covering</span></h5>
         <h5><input type="checkbox"> <span class="span_1">Refrigerator</span></h5>
         <h5><input type="checkbox"> <span class="span_1">TV Cable &amp; WIFI</span></h5>
         <h5><input type="checkbox"> <span class="span_1"> Microwave</span></h5>
        </div>
       </div>
       <div class="submit_1 clearfix">
        <h4 class="mgt col_1">Contact Information</h4>
        <hr>
        <div class="submit_1i clearfix">
         <div class="col-sm-6 space_left">
          <div class="submit_1i1 clearfix">
            <h5 class="mgt">Name</h5>
            <input class="form-control" placeholder="Enter Your Name" type="text">
          </div>
         </div>
         <div class="col-sm-6 space_right">
          <div class="submit_1i1 clearfix">
            <h5 class="mgt">Username</h5>
            <input class="form-control" placeholder="Enter Your Username" type="text">
          </div>
         </div>
        </div>
        <div class="submit_1i clearfix">
         <div class="col-sm-6 space_left">
          <div class="submit_1i1 clearfix">
            <h5>Email</h5>
            <input class="form-control" placeholder="Enter Your Email" type="text">
          </div>
         </div>
         <div class="col-sm-6 space_right">
          <div class="submit_1i1 clearfix">
            <h5>Phone</h5>
            <input class="form-control" placeholder="Enter Your Phone" type="text">
          </div>
         </div>
        </div>
       </div>
       <div class="submit_3 clearfix">
        <h5 class="mgt"><a class="button mgt" href="#">Submit Property</a></h5>
       </div>
      </div>
     </div>
    </section>
    
    <section id="footer">
     <div class="container">
      <div class="row">
       <div class="footer_1 clearfix">
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">About Us</h4>
          <p class="col_2">This My Template is a team of young professionals that has been successfully creating Creative Website templates already for several years.</p>
          <h5><a class="button col_2" href="#"><i class="fa fa-android"></i> Google Store</a></h5>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">Useful Links</h4>
          <ul>
           <li><a class="col_2" href="#">About Us</a></li>
           <li><a class="col_2" href="#">FAQs Page</a></li>
           <li><a class="col_2" href="#">Checkout</a></li>
           <li><a class="col_2" href="#">Services</a></li>
           <li><a class="col_2" href="#">Contact Us</a></li>
          </ul>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">Get In Touch</h4>
          <h6 class="col_2"><i class="fa fa-map-marker"></i> 65 North Park Avenue, USA</h6>
          <h6 class="col_2"><i class="fa fa-envelope"></i> <a class="col_2" href="#">info$gmail.com</a></h6>
          <h6 class="col_2"><i class="fa fa-phone"></i> +91 123 456 7890</h6>
          <h6 class="col_2"><i class="fa fa-fax"></i> +91 123 456 7890</h6>
          <h6 class="col_2"><i class="fa fa-globe"></i> All Country Realhome</h6>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="footer_1i1 clearfix">
          <h4 class="mgt col">Follow Us</h4>
          <p class="col_2">Follow & Subscribe your email to get new business tips.</p>
          <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <input class="form-control" placeholder="Your Email" type="text">
         </div>
        </div>
       </div>
       <div class="footer_2 text-center clearfix">
         <div class="col-sm-12">
          <p class="col_2 mgt">© 2024 CoLive. All Rights Reserved | Design by TeamX <a class="col_1" ></a>G-15</p>
         </div>
       </div>
      </div>
     </div>
    </section>
    
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    
    </body>
