<section id="center" class="clearfix center_about">
    <div class="container clearfix">
     <div class="row">
      <div class="center_about_1 text-center clearfix">
       <div class="col-sm-12">
        <h1 class="mgt">Find Roomers</h1>
        <p>Find Your Perfect Roommate</p>
       </div>
      </div>
     </div>
    </div>
   </section>
   
   <section id="about_page">
    <div class="container clearfix">
     <div class="row">
      <div class="about_page_1 clearfix">
       <div class="col-sm-6">
        <div class="about_page_1l clearfix">
         <img src="./assets/img/renter.jpg" class="iw" alt="abc">
        </div>
       </div>
       <div class="col-sm-6">
        <div class="about_page_1r clearfix">
         <h3 class="mgt">CoLive Story</h3>
         <p>Discover Your Ideal Roommate with Our Advanced Matching Algorithm! Our AI-powered system analyzes your lifestyle preferences, habits, and interests to connect you with the most compatible roommates. Experience harmonious co-living with people who truly match your way of life.</p>
        
         <h5><a class="button" class="button_1" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">START HERE</a></h5>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   
   
