


<section id="center" class="clearfix center_about">
 <div class="container clearfix">
  <div class="row">
   <div class="center_about_1 text-center clearfix">
	<div class="col-sm-12">
	 <h1 class="mgt">Our Blogs</h1>
	 <p>Explore Our Latest Articles & News</p>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="blog_h">
 <div class="container">
  <div class="row">
   <div class="blog_h_1 clearfix">
    <div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/18.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 10 july 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Why People Choose CoLive to Share Their Accomodation </a></h4>
	  <p>why people opt for CoLive when seeking shared accommodation. It delves into the platform's unique offerings and innovative technology-driven solutions.</p>
	  <h5><a class="button_1"  routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/19.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 12 June 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">List of Benifits and Impressive CoLive Services</a></h4>
	  <p>Uncover the myriad benefits and impressive services offered by CoLive in our comprehensive guide to modern co-living.Learn how CoLive is revolutionizing urban living.</p>
	  <h5><a class="button_1" routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/20.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 17 Jan 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">What People Says About CoLive Platform</a></h4>
	  <p>Discover firsthand what people are saying about CoLive, the innovative shared housing and co-living platform that's changing the game.Hear from satisfied users.</p>
	  <h5><a class="button_1" routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
   </div>
   <div class="blog_h_1 clearfix">
    <div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/36.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 10 july 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">The Role of AI Matching in CoLive's Shared Housing Platform</a></h4>
	  <p>Delves into the pivotal role of AI matching within CoLive's shared housing platform. It explores how advanced algorithms facilitate to precise roommate matches.</p>
	  <h5><a class="button_1" routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/37.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 12 June 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">What Sets CoLive Apart in the Urban Housing Landscape</a></h4>
	  <p>This article highlights what distinguishes CoLive within the urban housing landscape. It delves into the unique features and innovative solutions offered by CoLive.</p>
	  <h5><a class="button_1" routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/38.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 17 Jan 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">How CoLive is Fostering Social Engagement in Shared Spaces</a></h4>
	  <p>By highlighting specific strategies and success stories, the article demonstrates CoLive's commitment to creating vibrant and connected living environments for its users.</p>
	  <h5><a class="button_1" routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
   </div>
   <div class="product_1_last text-center clearfix">
	  <div class="col-sm-12">
	   <ul>
	    <li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa fa-chevron-left"></i></a></li>
	    <li class="act"><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">1</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">2</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">3</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">4</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">5</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">6</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa fa-chevron-right"></i></a></li>
	   </ul>
	  </div>
	 </div>
  </div>
 </div>
</section>


