<section id="center" class="clearfix center_about">
    <div class="container clearfix">
        <div class="row">
            <div class="center_about_1 text-center clearfix">
                <div class="col-sm-12">
                    <h1 class="mgt">List Your Property</h1>
                    <p>Connect with Potential Tenants</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about_page">
    <div class="container clearfix">
        <div class="row">
            <div class="about_page_1 clearfix">
                <div class="col-sm-6">
                    <div class="about_page_1l clearfix">
                        <img src="./assets/img/owner.jpg" class="iw" alt="Owner Story">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="about_page_1r clearfix">
                        <h3 class="mgt">Our Story</h3>
                        <p>Discover how easy it is to find the perfect tenant for your property. Our platform connects you with trustworthy and compatible renters based on their preferences and habits. Manage your listings and streamline your property management experience with our intuitive tools.</p>
                        <h5>
                            <a class="button button_1" routerLink="/property" routerLinkActive="active" ariaCurrentWhenActive="page">LIST YOUR PROPERTY</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
