
	
	<section id="header">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><i class="fa fa-home"></i> My Home</a>
				</div>
	
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a class="tag_menu active_tab" routerlink="Home">Home</a>
						</li>
						<li class="dropdown">
						  <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Property<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_1" role="menu">
							<li><a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">Property List</a></li>
							<li><a routerLink="/detail" routerLinkActive="active" ariaCurrentWhenActive="page">Property Detail</a></li>
						  </ul>
						</li>
						<li class="dropdown">
						  <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_1" role="menu">
							<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page" >Blog</a></li>
							<li><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Blog Detail</a></li>
						  </ul>
						</li>
						<li class="dropdown">
						  <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_1" role="menu">
							<li><a routerLink="/agent" routerLinkActive="active" ariaCurrentWhenActive="page">Agent</a></li>
							<li><a routerLink="/agency" routerLinkActive="active" ariaCurrentWhenActive="page">Agency Page</a></li>
							<li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
							<li><a routerLink="/property" routerLinkActive="active" ariaCurrentWhenActive="page">Submit Property</a></li>
						  </ul>
						</li>
						<li>
							<a class="tag_menu" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="tag_menu" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Log In / Sign Up</a>
						</li>
						<li>
							<a class="tag_menu button_1 mgt" routerLink="/property" routerLinkActive="active" ariaCurrentWhenActive="page">Submit Property</a>
						</li>
					</ul>
					 
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</section>

<section id="center" class="clearfix center_about">
 <div class="container clearfix">
  <div class="row">
   <div class="center_about_1 text-center clearfix">
	<div class="col-sm-12">
	 <h1 class="mgt">Our Blogs</h1>
	 <p>Explore Our Latest Articles & News</p>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="blog_h">
 <div class="container">
  <div class="row">
   <div class="blog_h_1 clearfix">
    <div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/18.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 10 july 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Why People Choose CoLive to Share Their Accomodation </a></h4>
	  <p>why people opt for CoLive when seeking shared accommodation. It delves into the platform's unique offerings and innovative technology-driven solutions.</p>
	  <h5><a class="button_1"  routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/19.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 12 June 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">List of Benifits and Impressive CoLive Services</a></h4>
	  <p>Uncover the myriad benefits and impressive services offered by CoLive in our comprehensive guide to modern co-living.Learn how CoLive is revolutionizing urban living.</p>
	  <h5><a class="button_1" routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/20.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 17 Jan 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">What People Says About CoLive Platform</a></h4>
	  <p>Discover firsthand what people are saying about CoLive, the innovative shared housing and co-living platform that's changing the game.Hear from satisfied users.</p>
	  <h5><a class="button_1" routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
   </div>
   <div class="blog_h_1 clearfix">
    <div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/36.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 10 july 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">The Role of AI Matching in CoLive's Shared Housing Platform</a></h4>
	  <p>Delves into the pivotal role of AI matching within CoLive's shared housing platform. It explores how advanced algorithms facilitate to precise roommate matches.</p>
	  <h5><a class="button_1" routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/37.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 12 June 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">What Sets CoLive Apart in the Urban Housing Landscape</a></h4>
	  <p>This article highlights what distinguishes CoLive within the urban housing landscape. It delves into the unique features and innovative solutions offered by CoLive.</p>
	  <h5><a class="button_1" routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/img/38.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 17 Jan 2020</h5>
	  <h4><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">How CoLive is Fostering Social Engagement in Shared Spaces</a></h4>
	  <p>By highlighting specific strategies and success stories, the article demonstrates CoLive's commitment to creating vibrant and connected living environments for its users.</p>
	  <h5><a class="button_1" routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Continue</a></h5>
	 </div>
	</div>
   </div>
   <div class="product_1_last text-center clearfix">
	  <div class="col-sm-12">
	   <ul>
	    <li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa fa-chevron-left"></i></a></li>
	    <li class="act"><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">1</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">2</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">3</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">4</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">5</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">6</a></li>
		<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa fa-chevron-right"></i></a></li>
	   </ul>
	  </div>
	 </div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
    <div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
	  <h4 class="mgt col">About Us</h4>
	  <p class="col_2">This My Template is a team of young professionals that has been successfully creating Creative Website templates already for several years.</p>
	  <h5><a class="button col_2" href="#"><i class="fa fa-android"></i> Google Store</a></h5>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
	  <h4 class="mgt col">Useful Links</h4>
	  <ul>
	   <li><a class="col_2" href="#">About Us</a></li>
	   <li><a class="col_2" href="#">FAQs Page</a></li>
	   <li><a class="col_2" href="#">Checkout</a></li>
	   <li><a class="col_2" href="#">Services</a></li>
	   <li><a class="col_2" href="#">Contact Us</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
	  <h4 class="mgt col">Get In Touch</h4>
	  <h6 class="col_2"><i class="fa fa-map-marker"></i> 65 North Park Avenue, USA</h6>
	  <h6 class="col_2"><i class="fa fa-envelope"></i> <a class="col_2" href="#">infogmail.com</a></h6>
	  <h6 class="col_2"><i class="fa fa-phone"></i> +91 123 456 7890</h6>
	  <h6 class="col_2"><i class="fa fa-fax"></i> +91 123 456 7890</h6>
	  <h6 class="col_2"><i class="fa fa-globe"></i> All Country Realhome</h6>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
	  <h4 class="mgt col">Follow Us</h4>
      <p class="col_2">Follow & Subscribe your email to get new business tips.</p>
	  <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
	  <input class="form-control" placeholder="Your Email" type="text">
	 </div>
	</div>
   </div>
   <div class="footer_2 text-center clearfix">
	 <div class="col-sm-12">
		<p class="col_2 mgt">© 2024 CoLive. All Rights Reserved | Design by TeamX <a class="col_1" ></a>G-15</p>
	 </div>
   </div>
  </div>
 </div>
</section>

<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

