<section id="header">
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa fa-home"></i> CoLive</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="tag_menu active_tab" routerlink="Home">Home</a>
                    </li>
					<li class="dropdown">
					  <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Property<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_1" role="menu">
						<li><a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">Property List</a></li>
						<li><a routerLink="/detail" routerLinkActive="active" ariaCurrentWhenActive="page">Property Detail</a></li>
					  </ul>
                    </li>
					<li class="dropdown">
					  <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_1" role="menu">
						<li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page" >Blog</a></li>
						<li><a routerLink="/blog-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Blog Detail</a></li>
					  </ul>
                    </li>
					<li class="dropdown">
					  <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_1" role="menu">
						<li><a routerLink="/agent" routerLinkActive="active" ariaCurrentWhenActive="page">Agent</a></li>
						<li><a routerLink="/agency" routerLinkActive="active" ariaCurrentWhenActive="page">Agency Page</a></li>
						<li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
						<li><a routerLink="/property" routerLinkActive="active" ariaCurrentWhenActive="page">Submit Property</a></li>
					  </ul>
                    </li>
					<li>
                        <a class="tag_menu" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
                    </li>
                </ul>
				<ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="tag_menu" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Log In / Sign Up</a>
                    </li>
					<!-- <li>
                        <a class="tag_menu button_1 mgt" routerLink="/property" routerLinkActive="active" ariaCurrentWhenActive="page">Submit Property</a>
                    </li> -->
                </ul>
				 
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>

<section id="center" class="center_home clearfix">
	
<div class="center_home_m clearfix">
 <div class="container">
  <div class="row">
   <div class="center_home_1 clearfix">
    <h1 class="text-center col">Welcome to AI-Powered Co-Living Platform!</h1>
	<p class="text-center col">Your Smart Co-Living Experience</p>
	<div class="main_button"  >
		<ul >
			<li class="button_1"><a href="#" class="text-center">Renters</a></li>
			<li class="button_1"><a href="#">Owners</a></li>
			
		</ul>
	</div>
	

	<!-- <div class="center_home_1i clearfix">
	 <div class="col-sm-4">
	  <div class="center_home_1i1 clearfix">
	    <input placeholder="Neighborhood" class="form-control" type="text">
	  </div>
	 </div>
	  <div class="col-sm-4">
	  <div class="center_home_1i1 clearfix">
	    <select class="form-control" name="Location">
		<option value="">All Cities</option>
		<option value="family-house">New York</option>
		<option value="apartment">Los Angeles</option>
		<option value="condo">Chicago</option>
		<option value="condo">Philadelphia</option>
		<option value="condo">San Francisco</option>
       </select>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="center_home_1i1 clearfix">
	    <select class="form-control" name="property">
		<option value="">Property Type</option>
		<option value="family-house">Family House</option>
		<option value="apartment">Apartment</option>
		<option value="condo">Condo</option>
       </select>
	  </div>
	 </div>
	</div>
	<div class="center_home_1i clearfix">
		<div class="col-sm-6">
			<div class="center_home_1i1 clearfix">
				<button class="btn btn-primary btn-lg btn-block">Button 1</button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="center_home_1i1 clearfix">
				<button class="btn btn-secondary btn-lg btn-block">Button 2</button>
			</div>
		</div>
	</div>
     </select>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="center_home_1i1 clearfix">
	    <h5 class="mgt text-center"><a class="button_1 block mgt" href="#">Search Result</a></h5>
	  </div>
	 </div>
	</div> -->


   </div>
  </div>
 </div>
</div>
</section> 

<section id="popular">
 <div class="container">
  <div class="row">
   <div class="popular_1 text-center clearfix">
    <div class="col-sm-12">
	 <h1 class="mgt">What is CoLive</h1>
	 <p>Welcome to our website, your ultimate platform for finding and sharing accommodations! Whether you're searching for a cozy room, a spacious house, or a friendly hostel, we've got you covered. Our user-friendly interface connects renters with accommodating owners, making the process seamless and stress-free. Find your perfect match or share your space with ease on our inclusive platform.</p>
	</div>
   </div>
   <div class="popular_2 clearfix">
    <div class="col-sm-4">
     <div class="popular_2i clearfix">
	   <div class="popular_2i1 clearfix">
	    <a href="#"><img src="./assets/img/z.png" class="iw" alt="abc"></a>
	   </div>
	   <!-- <div class="popular_2i2 clearfix">
	    <h5 class="mgt"><a href="#">FOR RENT</a></h5>
	   </div> -->
	 </div>
	 <!-- <div class="popular_2i3 clearfix">
	    <h5 class="mgt"><a href="#">Energy Certificate For EU <i class="fa fa-check-square col_1"></i></a></h5>
		<h4 class="col_1">$13,599 / <span class="col_2">Month</span></h4>
		<h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
	   </div> -->
	</div>
	<div class="col-sm-4">
     <div class="popular_2i clearfix">
	   <div class="popular_2i1 clearfix">
	    <a href="#"><img src="./assets/img/a.png" class="iw" alt="abc"></a>
	   </div>
	   <!-- <div class="popular_2i2 clearfix">
	    <h5 class="mgt"><a href="#">FOR SALE</a></h5>
	   </div> -->
	 </div>
	 <!-- <div class="popular_2i3 clearfix">
	    <h5 class="mgt"><a href="#">Modern Family Home <i class="fa fa-check-square col_1"></i></a></h5>
		<h4 class="col_1">$11,550 / <span class="col_2">Month</span></h4>
		<h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
	   </div> -->
	</div>
	<div class="col-sm-4">
     <div class="popular_2i clearfix">
	   <div class="popular_2i1 clearfix">
	    <a href="#"><img src="./assets/img/b.png" class="iw" alt="abc"></a>
	   </div>
	   <!-- <div class="popular_2i2 clearfix">
	    <h5 class="mgt"><a href="#">FOR RENT</a></h5>
	   </div> -->
	 </div>
	 <!-- <div class="popular_2i3 clearfix">
	    <h5 class="mgt"><a href="#">Real Luxury Villa <i class="fa fa-check-square col_1"></i></a></h5>
		<h4 class="col_1">$10,599 / <span class="col_2">Month</span></h4>
		<h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
	   </div> -->
	</div>
   </div>
   <!-- <div class="popular_2 clearfix">
    <div class="col-sm-4">
     <div class="popular_2i clearfix">
	   <div class="popular_2i1 clearfix">
	    <a href="#"><img src="./assets/img/5.jpg" class="iw" alt="abc"></a>
	   </div>
	   <div class="popular_2i2 clearfix">
	    <h5 class="mgt"><a href="#">FOR RENT</a></h5>
	   </div>
	 </div>
	 <div class="popular_2i3 clearfix">
	    <h5 class="mgt"><a href="#">Energy Certificate For EU <i class="fa fa-check-square col_1"></i></a></h5>
		<h4 class="col_1">$13,599 / <span class="col_2">Month</span></h4>
		<h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
	   </div>
	</div>
	<div class="col-sm-4">
     <div class="popular_2i clearfix">
	   <div class="popular_2i1 clearfix">
	    <a href="#"><img src="./assets/img/6.jpg" class="iw" alt="abc"></a>
	   </div>
	   <div class="popular_2i2 clearfix">
	    <h5 class="mgt"><a href="#">FOR SALE</a></h5>
	   </div>
	 </div>
	 <div class="popular_2i3 clearfix">
	    <h5 class="mgt"><a href="#">Modern Family Home <i class="fa fa-check-square col_1"></i></a></h5>
		<h4 class="col_1">$11,550 / <span class="col_2">Month</span></h4>
		<h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
	   </div>
	</div>
	<div class="col-sm-4">
     <div class="popular_2i clearfix">
	   <div class="popular_2i1 clearfix">
	    <a href="#"><img src="./assets/img/7.jpg" class="iw" alt="abc"></a>
	   </div>
	   <div class="popular_2i2 clearfix">
	    <h5 class="mgt"><a href="#">FOR RENT</a></h5>
	   </div>
	 </div>
	 <div class="popular_2i3 clearfix">
	    <h5 class="mgt"><a href="#">Real Luxury Villa <i class="fa fa-check-square col_1"></i></a></h5>
		<h4 class="col_1">$10,599 / <span class="col_2">Month</span></h4>
		<h6><i class="fa fa-hotel col_2"></i> 3 Beds <span><i class="fa fa-home col_2"></i> 2 Bath</span></h6>
	   </div>
	</div>
   </div> -->
  </div>
 </div>
</section>

<section id="location">
 <div class="container">
  <div class="row">
   <div class="popular_1 text-center clearfix">
    <div class="col-sm-12">
	 <h1 class="mgt">You Can Find Places From Below Places</h1>
	 <p>Top & perfect 450+ location property.</p>
	</div>
   </div>
   <div class="location_1 clearfix">
    <div class="col-sm-4">
	 <div class="location_1i clearfix">
	  <div class="location_1i1 clearfix">
	   <a href="#"><img src="./assets/img/srilanka.png" class="iw" alt="abc"></a>
	  </div>
	  <div class="location_1i2 text-center clearfix">
	   <h4 class="mgt"><a class="col" href="#">Sri Lanka</a></h4>
	   <h5><a class="col" href="#">400 Properties</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-8">
	 <div class="location_1i clearfix">
	  <div class="location_1i1 clearfix">
	   <a href="#"><img src="./assets/img/India.png" class="iw" alt="abc"></a>
	  </div>
	  <div class="location_1i2 text-center clearfix">
	   <h4 class="mgt"><a class="col" href="#">India</a></h4>
	   <h5><a class="col" href="#">283 Properties</a></h5>
	  </div>
	 </div>
	</div>
   </div>
   <div class="location_1 clearfix">
    <div class="col-sm-4">
	 <div class="location_1i clearfix">
	  <div class="location_1i1 clearfix">
	   <a href="#"><img src="./assets/img/Untitled-2.png" class="iw" alt="abc"></a>
	  </div>
	  <div class="location_1i2 text-center clearfix">
	   <h4 class="mgt"><a class="col" href="#">New York</a></h4>
	   <h5><a class="col" href="#">477 Properties</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="location_1i clearfix">
	  <div class="location_1i1 clearfix">
	   <a href="#"><img src="./assets/img/canada.png" class="iw" alt="abc"></a>
	  </div>
	  <div class="location_1i2 text-center clearfix">
	   <h4 class="mgt"><a class="col" href="#">Canada</a></h4>
	   <h5><a class="col" href="#">353 Properties</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="location_1i clearfix">
	  <div class="location_1i1 clearfix">
	   <a href="#"><img src="./assets/img/englandpng.png" class="iw" alt="abc"></a>
	  </div>
	  <div class="location_1i2 text-center clearfix">
	   <h4 class="mgt"><a class="col" href="#">England</a></h4>
	   <h5><a class="col" href="#">323 Properties</a></h5>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="client">
 <div class="container">
  <div class="row">
   <div class="client_1  clearfix">
    <div class="col-sm-4">
	 <div class="client_1l clearfix">
	  <h1 class="mgt">What Clients Saying</h1>
	  <p>Lorem ipsum dolor sit amet, elit. Sed cursus ante dapibus diam. Nulla quis sem at nibh elementum imperdiet. Fusce nec tellus sed augue semper porta. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
	  <h5><a class="button_1" href="#">See More Reviewer</a></h5>
	 </div>
	</div>
	<div class="col-sm-8">
	 <div class="client_1r clearfix">
	   <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
				 <div class="col-sm-6 space_left">
				  <div class="client_1ri clearfix">
				    <img src="./assets/img/person.png" class="img-circle" alt="abc">
					<h5 class="mgt col_1"> Eget Nulla</h5>
					<h6>Google Of Teacher</h6>
					<p>Exceptional experience! My stay at this coliving space was fantastic. From the modern amenities to the vibrant community atmosphere, it truly felt like a home away from home. Highly recommend for anyone looking for a blend of comfort and social connection. </p>
				  </div>
				  </div>
                 <div class="col-sm-6 space_left">
				  <div class="client_1ri clearfix">
				    <img src="./assets/img/person2.png" class="img-circle" alt="abc">
					<h5 class="mgt col_1"> Sed Cursus</h5>
					<h6>Officer</h6>
					<p>Top-notch coliving concept! The website accurately reflects the innovative approach to shared living. Clean design, intuitive navigation, and detailed information make it easy for potential residents to envision themselves in this dynamic community. Kudos to the team behind it! </p>
				  </div>
				  </div>
                </div>
                <div class="item">
                  <div class="col-sm-6 space_left">
				  <div class="client_1ri clearfix">
				    <img src="./assets/img/person3.png" class="img-circle" alt="abc">
					<h5 class="mgt col_1"> Ante Dapibus</h5>
					<h6>Google Of Teacher</h6>
					<p>Top-notch coliving concept! The website accurately reflects the innovative approach to shared living. Clean design, intuitive navigation, and detailed information make it easy for potential residents to envision themselves in this dynamic community. Kudos to the team behind it! </p>
				  </div>
				  </div>
                  <div class="col-sm-6 space_left">
				  <div class="client_1ri clearfix">
				    <img src="./assets/img/person2.png" class="img-circle" alt="abc">
					<h5 class="mgt col_1"> Nulla Quis</h5>
					<h6>Digital Creator</h6>
					<p>A refreshing take on modern living! This coliving website stands out with its emphasis on fostering a sense of belonging and collaboration among residents. The testimonials and virtual tours provide a genuine glimpse into the lifestyle, making it a compelling choice for those seeking more than just a place to stay. </p>
				  </div>
				  </div>
                </div>
            </div>
        </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<!-- <section id="price">
 <div class="container">
  <div class="row">
    <div class="popular_1 text-center clearfix">
    <div class="col-sm-12">
	 <h1 class="mgt"> Our Pricing Plan</h1>
	 <p>We offer best and smart packages for you.</p>
	</div>
   </div>
    <div class="price_1 clearfix">
    <div class="col-sm-4">
     <div class="price_1i text-center clearfix">
	  <h6 class="mgt col_1 pull-right">Recommended</h6>
	  <h4>BASIC PLAN</h4>
	  <p>Start With Basic Package</p>
	  <h1 class="col_1"><span class="col_2">$</span>99</h1>
	  <ul>
	   <li>15+ Listings</li>
	   <li>Contact With Agent</li>
	   <li>2 Month Validity</li>
	   <li>7x24 Fully Support</li>
	   <li>25GB Space</li>
	   <li>Remote Support</li>
	  </ul>
	  <h5><a class="button_1" href="#">Get a free trial</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="price_1i text-center clearfix">
	  <h6 class="mgt col_1 pull-right">Popular</h6>
	  <h4>STANDARD PLAN</h4>
	  <p>Start With Platinum Package</p>
	  <h1 class="col_3"><span class="col_2">$</span>149</h1>
	  <ul>
	   <li>15+ Listings</li>
	   <li>Contact With Agent</li>
	   <li>2 Month Validity</li>
	   <li>7x24 Fully Support</li>
	   <li>25GB Space</li>
	   <li>Remote Support</li>
	  </ul>
	  <h5><a class="button_1" href="#">Choose Plan</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="price_1i text-center clearfix">
	  <h6 class="mgt col_1 pull-right">Recommended</h6>
	  <h4>EXTENDED PLAN</h4>
	  <p>Start With Standard Package</p>
	  <h1 class="col_1"><span class="col_2">$</span>129</h1>
	  <ul>
	   <li>15+ Listings</li>
	   <li>Contact With Agent</li>
	   <li>2 Month Validity</li>
	   <li>7x24 Fully Support</li>
	   <li>25GB Space</li>
	   <li>Remote Support</li>
	  </ul>
	  <h5><a class="button_1" href="#">Get a free trial</a></h5>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section> -->

<section id="places">
 <div class="places_m clearfix">
  <div class="container">
  <div class="row">
   <div class="places_1 text-center clearfix">
    <div class="col-sm-12">
	 <h1 class="mgt col">Are You Searching Recommended Places</h1>
	 <p class="col">Discover the best accommodations tailored to your needs on our site! From charming apartments to luxurious villas, we handpick the finest options for your comfort and convenience. Explore a curated selection of top-rated stays, ensuring every journey is filled with comfort and memorable experiences. Start your search now and find your perfect home away from home!</p>
	 <h5><a class="button_1" href="#">Browse Top Property Places</a></h5>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="work_h">
 <div class="container">
  <div class="row">
   <div class="popular_1 text-center clearfix">
    <div class="col-sm-12">
	 <h1 class="mgt"> See How It Works</h1>
	 <p>How to start work with us and working process</p>
	</div>
   </div>
   <div class="work_h_1 clearfix">
     <div class="col-sm-4">
	  <div class="work_h_1i text-center clearfix">
	   <div class="work_h_1ii clearfix">
	    <span class="col_4"><i class="fa fa-user"></i></span>
	   </div>
	   <div class="work_h_1ii1 clearfix">
	    <h5 class="bg_1">01</h5>
	   </div>
	  </div>
	  <div class="work_h_1i1 text-center clearfix">
	   <h4>Create An Account</h4>
	   <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="work_h_1i text-center clearfix">
	   <div class="work_h_1ii clearfix">
	    <span class="col_5"><i class="fa fa-search"></i></span>
	   </div>
	   <div class="work_h_1ii1 clearfix">
	    <h5 class="bg_2">03</h5>
	   </div>
	  </div>
	  <div class="work_h_1i1 text-center clearfix">
	   <h4>AI Matching for User</h4>
	   <p>There are many variations of Users use Co LIve. You can Match Your </p>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="work_h_1i text-center clearfix">
	   <div class="work_h_1ii clearfix">
	    <span class="col_6"><i class="fa fa-location-arrow"></i></span>
	   </div>
	   <div class="work_h_1ii1 clearfix">
	    <h5 class="bg_3">01</h5>
	   </div>
	  </div>
	  <div class="work_h_1i1 text-center clearfix">
	   <h4>Book Your Property</h4>
	   <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
	  </div>
	 </div>
   </div>
  </div>
 </div>
</section>

<section id="agent_h">
 <div class="container">
  <div class="row">
   <div class="popular_1 text-center clearfix">
    <div class="col-sm-12">
	 <h1 class="mgt">Why Co Live</h1>
	 <p>make urban living more accessible, affordable</p>
	</div>
   </div>
   <!-- <div class="agent_h_1 clearfix">
    <div class="col-sm-4">
	 <div class="agent_h_1i text-center clearfix">
	  <span class="text-left span_1">
	  <a href="#"><i class="fa fa-bookmark-o"></i></a>
	  <a class="col_5 pull-right" href="#"><i class="fa fa-phone"></i></a>
	  </span>
	  <img src="./assets/img/13.jpg" class="img-circle" alt="abc">
	  <h4><a href="#">Nulla Quis</a></h4>
	  <h6 class="mgt"><i class="fa fa-map-marker"></i> 2589 Lorem Lane</h6>
	  <span>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star-half-o col_2"></i>
	  </span>
	  <h5 class="text-left">Property<span class="pull-right">336</span></h5>
	  <h5 class="text-left bg_1">Email<span class="pull-right">infogmail.com</span></h5>
	  <h5 class="text-left">Phone<span class="pull-right">1234567890</span></h5><br>
	  <h5><a class="button block" href="#">View Profile <i class="fa fa-long-arrow-right"></i></a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="agent_h_1i text-center clearfix">
	  <span class="text-left span_1">
	  <a href="#"><i class="fa fa-bookmark-o"></i></a>
	  <a class="col_5 pull-right" href="#"><i class="fa fa-phone"></i></a>
	  </span>
	  <img src="./assets/img/14.jpg" class="img-circle" alt="abc">
	  <h4><a href="#">Sed Cursus</a></h4>
	  <h6 class="mgt"><i class="fa fa-map-marker"></i> 2589 Lorem Lane</h6>
	  <span>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star-half-o col_2"></i>
	  </span>
	  <h5 class="text-left">Property<span class="pull-right">336</span></h5>
	  <h5 class="text-left bg_1">Email<span class="pull-right">infogmail.com</span></h5>
	  <h5 class="text-left">Phone<span class="pull-right">1234567890</span></h5><br>
	  <h5><a class="button block" href="#">View Profile <i class="fa fa-long-arrow-right"></i></a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="agent_h_1i text-center clearfix">
	  <span class="text-left span_1">
	  <a href="#"><i class="fa fa-bookmark-o"></i></a>
	  <a class="col_5 pull-right" href="#"><i class="fa fa-phone"></i></a>
	  </span>
	  <img src="./assets/img/16.jpg" class="img-circle" alt="abc">
	  <h4><a href="#">Ante Dapibus</a></h4>
	  <h6 class="mgt"><i class="fa fa-map-marker"></i> 2589 Lorem Lane</h6>
	  <span>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star col_1"></i>
	   <i class="fa fa-star-half-o col_2"></i>
	  </span>
	  <h5 class="text-left">Property<span class="pull-right">336</span></h5>
	  <h5 class="text-left bg_1">Email<span class="pull-right">infogmail.com</span></h5>
	  <h5 class="text-left">Phone<span class="pull-right">1234567890</span></h5><br>
	  <h5><a class="button block" href="#">View Profile <i class="fa fa-long-arrow-right"></i></a></h5>
	 </div>
	</div>
   </div> -->
   <P>“CoLive” facilitates the sharing of houses, apartments, or lodgings seamlessly. If someone is open to sharing their residence, they can easily register on our platform. Simultaneously, individuals in search of a place to live can effortlessly find available residences or potential partners for shared living arrangements. This user-friendly interface ensures a smooth and efficient process for those seeking shared housing solutions, making urban living more accessible, affordable, and socially connected through “CoLive”.
</P>
  </div>
 </div>
</section>

<section id="blog_h">
 <div class="container">
  <div class="row">
   <div class="popular_1 text-center clearfix">
    <div class="col-sm-12">
	 <h1 class="mgt"> Latest Articles</h1>
	 <p>We post regulary most powerful articles for help and support.</p>
	</div>
   </div>
   <div class="blog_h_1 clearfix">
    <div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a href="#"><img src="./assets/img/18.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 10 july 2020</h5>
	  <h4><a href="#">Why People Choose Listio For Own Properties</a></h4>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	  <h5><a class="button_1" href="#">Continue</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a href="#"><img src="./assets/img/19.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 12 June 2020</h5>
	  <h4><a href="#">List Of Benifits And Impressive Listeo Services</a></h4>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	  <h5><a class="button_1" href="#">Continue</a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
     <div class="blog_h_1i clearfix">
	  <a href="#"><img src="./assets/img/20.jpg" class="iw" alt="abc"></a>
	  <h5 class="col_2"><i class="fa fa-calendar"></i> 17 Jan 2020</h5>
	  <h4><a href="#">What People Says About Listio Properties</a></h4>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	  <h5><a class="button_1" href="#">Continue</a></h5>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
    <div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
	  <h4 class="mgt col">About Us</h4>
	  <p class="col_2">We're More Than Just a Place to Stay
		We're Your Second Home
		Away From Your Home.</p>
	  <h5><a class="button col_2" href="#"><i class="fa fa-android"></i> Google Store</a></h5>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
	  <h4 class="mgt col">Useful Links</h4>
	  <ul>
	   <li><a class="col_2" href="#">About Us</a></li>
	   <li><a class="col_2" href="#">FAQs Page</a></li>
	   <li><a class="col_2" href="#">Checkout</a></li>
	   <li><a class="col_2" href="#">Services</a></li>
	   <li><a class="col_2" href="#">Contact Us</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
	  <h4 class="mgt col">Get In Touch</h4>
	  <h6 class="col_2"><i class="fa fa-map-marker"></i> Pabahinna, Rathnapura,Sri Lanka</h6>
	  <h6 class="col_2"><i class="fa fa-envelope"></i> <a class="col_2" href="#">g-15&#64;gmail.com</a></h6>
	  <h6 class="col_2"><i class="fa fa-phone"></i> +91 123 456 7890</h6>
	  <h6 class="col_2"><i class="fa fa-fax"></i> +91 123 456 7890</h6>
	  <h6 class="col_2"><i class="fa fa-globe"></i> All Country Realhome</h6>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_1i1 clearfix">
	  <h4 class="mgt col">Follow Us</h4>
      <p class="col_2">Follow & Subscribe Us To Get More Details.</p>
	  <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
	  <input class="form-control" placeholder="Your Email" type="text">
	 </div>
	</div>
   </div>
   <div class="footer_2 text-center clearfix">
	 <div class="col-sm-12">
	  <p class="col_2 mgt">© 2024 CoLive. All Rights Reserved | Design by TeamX <a class="col_1" ></a>G-15</p>
	 </div>
   </div>
  </div>
 </div>
</section>

<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

