.main_button ul  {
    
   display: flex;
  
    
}

    

.main_button li{
    margin-right: 20px; /* Adjust spacing between list items */
    
}

.main_button {
    
    padding-top: 30px;
    padding-left: 470px;
    
   
   

}
